* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--paragraph);
  color: var(--text-secondary);
  background-color: var(--background-default);
  h1,h2,h3 {
    color: var(--text-primary);
  }
}

.container {
  max-width: 1280px;
  padding-inline: 80px;
  margin-inline: auto;
}

header > div {
  margin-block: 88px 40px;
}

#img-header {
  padding-bottom: 40px;
  img {
    width: 1120px;
    height: 660px;
    border-radius: 28px;
    margin-bottom: 24px;
  }

  figcaption span {
    display: flex;
    font: var(--subtitle);
    font-style: italic;
    text-align: center;
  }
}

#primary {
  padding-block: 64px 40px;
  border: solid 1px var(--border-primary);
  border-inline: none;

  .intro p {
    line-height: 22px;
    margin-block: 8px 64px;
  }

  img {
        width: 1120px;
        height: 350px;
        border-radius: 28px;
        margin-bottom: 20px;
        object-fit: cover;
  }
}

footer {
  margin-bottom: 48px;
  section {
    margin-block: 40px 65px;
  }

  p {
    text-align: center;
  }
}
