.span-orange {
  color: var(--accent-orange);
  text-transform: uppercase;
  font:var(--headline);
}

.templos {
  margin-bottom: 48px;
}

.secundary {
  font-weight: bold;
  ul {
    list-style: inside;
  }
}

.text-blue {
  color: var(--accent-blue);
}
.text-purple{
  color: var(--accent-purple);
}
.text-pink {
  color: var(--accent-pink);
}
.text-orange {
  color: var(--accent-orange);
}